.back{
    border: 1px solid white;
    height: 120px;
    width: 1525px;
    background: #ffe000;
}
.head{
    float: left;
    margin-top: 35px;
    margin-left: 5px;
}
.date{
    float: left;
    margin-top: 35px;
    margin-left: 565px;
}
.time{
    float: left;
    margin-top: -56px;
    margin-left: 1444px;
}
.menu{
    border: 1px solid white;
    height: 618px;
    width: 284px;
    background: gray;
}
.mem{
    background-attachment: fixed;
    float: left;
    font-size: medium;
    margin-top: 70px;
    margin-left: 38px;
    height: 52px;
    width: 210px;
    transition: background-color 1s;
}
.mem:hover{
    background: black;
    color: white;
}
.book{
    background-attachment: fixed;
    float: left;
    font-size: medium;
    margin-top: 70px;
    margin-left: 38px;
    height: 52px;
    width: 210px;
    transition: background-color 1s;
}
.book:hover{
    background: black;
    color: white;
}
.lend{
    background-attachment: fixed;
    float: left;
    font-size: medium;
    margin-top: 70px;
    margin-left: 38px;
    height: 52px;
    width: 210px;
    transition: background-color 1s;
}
.lend:hover{
    background: black;
    color: white;
}
.return{
    background-attachment: fixed;
    float: left;
    font-size: medium;
    margin-top: 70px;
    margin-left: 38px;
    height: 52px;
    width: 210px;
    transition: background-color 1s;
}
.return:hover{
    background: black;
    color: white;
}
.main{
    float: left;
    background: green;
    height: 618px;
    width: 1000px;
    margin-left: 300px;
    overflow: hidden;
}