table{
    width: 650px;
    text-align: center;
    margin: 50px auto;
    background-color: yellow;
}
table, td, tr{
    border-collapse: collapse;
    border: 1px solid red;
}
.left{
    text-align: left;
}
.shohag{
    background-color: red;
}
caption{
    background-color: seashell;
    text-emphasis-color: black;
}